body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #1C1D1E;
    color: white;
}

p {
    margin: 0;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

footer {
    padding: 55px 0 220px 16px;
    margin: 0 auto
}

.footer__header {
    margin: 0 0 21px 0;
}

.footer__rules {
    width: 91.466%;
    height: 50px;
    background-color: #25292B;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.footer__rules p {
    margin-left: 14px;
    font-size: 14px;
    color: #BBBBBB;
}

.footer__rules img {
    cursor: pointer;
    margin-right: 16px;
}

.footer__carousel-header {
    margin: 40px 0 24px 0;
}

.carousel-item {
    position: relative;
}

.carousel-item__text-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 155px;
    height: 113px;
    margin-bottom: 10px;
}

.carousel-item__text-header {
    margin: 45px 0 8px 14px;
    font-size: 12px;
}

.carousel-item__text-description {
    width: 120px;
    margin-left: 14px;
    font-size: 11px;
}

.slick-slide {
    width: 172px !important;
}

.slick-arrow::before {
    display: none;
}

.slick-prev {
    left: 50px !important;
}